[Desktop Entry]
Name=Cell to Singularity - Evolution Never Ends
Comment=Play this game on Steam
Exec=steam steam://rungameid/977400
Icon=steam_icon_977400
Terminal=false
Type=Application
Categories=Game;
