/*
          _                         _    
__      _| | ___   __ _  ___  _   _| |_  
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __| 
 \ V  V /| | (_) | (_| | (_) | |_| | |_  
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__| 
                  |___/                  
 
by Stephan Raabe (2024) 
----------------------------------------------------- 
*/

* {
    font-family: "Firacode Nerd Font Propo Regular", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: rgba(32, 32, 32, 0.9);
}

button {
    background-color: #212121;
    color: #FFFFFF;
    font-size:20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-style: solid;
    border: 3px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

button:focus {
    background-size: 22%;
    border: 3px solid #33CCFF;
}
button:active,
button:hover {
    background-size: 30%;
    margin: 30px;
    border-radius: 80px;
    box-shadow: 0 0 20px #AABBCC;
    color: #FFFFFF;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/lock.png"));
}

#idle{
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/suspend.png"));
}

#logout {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/logout.png"));
}

#shutdown {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/reboot.png"));
}
